* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 12pt;
    font-style: normal;
    text-decoration: none;
}

/* AQUÍ VA EL MENÚ PRINCIPAL */
.contenedor-principal{
    height: 279px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.barra-nav{
    height: 60px;
    display: flex;
    width: 100%;
    text-decoration: none;
    background-color: white; 
}

.barra-nav a{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: normal;
    color: black;
    text-decoration: none;
}

.barra-nav-margin-left{
    display: flex;
    flex-basis: 5%;
    justify-content: flex-start;
    /* background-color: gray; */
}

.barra-nav-left{
    display: flex;
    flex-basis: 30%;    
    align-items: center;
    justify-content:center;
    /* background-color:salmon; */
}

.barra-nav-center{
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content:center;
    /* background-color:orange; */
}

.barra-nav-right{
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content:center;
    /* background-color:firebrick; */
}

.barra-nav-margin-right{
    display: flex;
    flex-basis: 5%;
    justify-content: flex-end;
    /* background-color:blue; */
}

.barra-nav-left ul{
    list-style: none;
    margin-left: 20px;
}

.barra-nav-left ul li{
    display: inline-block;
    margin-left: 20px;
}

.barra-nav-center img{
    height: 30px;
}

.barra-nav-right img{
    height: 20px;
    margin-left: 20px;
    margin-right: 15px;
}

.barra-nav-right ul li{
    display: inline-block;
    margin-left: 20px;
}

/* AQÍ VA EL TÍTULO */
.titulo-mujeres {
    height: 200px;
    display: flex;
    width: 100%;
    /* background-color: aquamarine; */
    background-image: url(../../assets/imagenes/titulo-mujeres-amenti.png);
    background-position: right;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

/* AQUÍ VAN LOS PRODUCTOS */
.margen{
    height: 290px;
    width: 100%;
    display: flex;
}

.productos{
    display: grid;
    height: 500px;
    width: 100%; 
    align-items: center;
}

.productos-columnas{
    height: 581px;
    width: 100%;
    display: flex;
    /* background-color: gold; */
}

.productos-columnas-margin-left{
    display: flex;
    flex-basis: 5%;
    justify-content: flex-start;
    /* background-color: gray; */
} 

.productos-columna{
    height: 581px;
    width: 30%;
    display: flex;
    /* background-color:red; */
}

.productos-columnas-margin-right{
    display: flex;
    flex-basis: 5%;
    justify-content: flex-start;
    /* background-color:blue; */
}  

.productos-bottom{
    height: 166px;
    width: 100%;
    display: grid;
    /* background-color:darkblue; */
}

.card {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 2px 16px;
    background-color: white;
    border-radius: 10px;
    text-align: justify;
}

.container:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

.container h1{
    font-size: 14pt;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: bold;
}

.container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-style: italic;
    color: grey;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 10px;
    background-color: pink;
}

.contenedor-img{
    position:relative;
    width: 100%;
}

.contenedor-img:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.button2 {
    background-color: pink;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 10px 45px;
    cursor: pointer;
    border-radius: 16px;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 12pt;
    font-style: italic;
    align-self: center;
}

.productos2{
    display: grid;
    height: 500px;
    width: 100%; 
    align-items: center;
    /* background-color: black; */
}

/* AQUÍ COMIENZA EL FOOTER */
.footer{
    height: 250px;
    display: flex;
    width: 100%;
    align-items: center;
    background-color:rgb(234, 234, 247); 
}

.footer h1{
    font-size: 12pt;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: bold;
}

.footer ul{
    margin-left: 30px;
}

.footer a{
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: gray;
    text-decoration: none;
}

.footer h2{
    font-size: 12pt;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.footer p{
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-align: left;
}

.footer img{
    height: 20px;
}

.footer-margin-left{
    display: flex;
    flex-basis: 20%;
    justify-content: flex-start;
    /* background-color: gray; */
}

.footer-left{
    flex-basis: 30%;
    /* background-color: olivedrab; */
}

.footer-center{
    flex-basis: 30%;
    /* background-color:palegoldenrod; */
}

.footer-right{
    flex-basis: 30%;
    /* background-color: pink; */
}

.footer-right img{
    margin-left: 150px;
}

/* AQUÍ VA EL LOGIN */

.form-popup {
    display: none;
    position: fixed;
    top: 70px;
    right: 15px;
    border: 3px solid grey;
    z-index: 9;
    border-radius: 10px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: pink;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 10px;
}

.form-container .cancel {
    background-color: rgb(223, 223, 247); 
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

@media only screen and (min-width: 1px) and (max-width: 700px)  {
    header {
    max-width: 400px;
    display: none;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1080px)  {
    header {
        max-width: 600px;
    }
}

@media only screen and (min-width: 1081px) and (max-width: 5000px)  {
    header {
        max-width: 1100px;
    }
}