<!DOCTYPE html>
<html lang="en">

    <body>
        <!-- AQUÍ VA LA PRIMERA SECCIÓN -->
        <div class="contenedor-principal">
            <div class="contenedor-principal-margin-left"></div>
            <div class="contenedor-principal-left">
                <div class="contenedor-principal-frase">
                    <p>"Lorem ipsum dolor sit amet consectetur."</p>
                </div>
            </div>
            <div class="contenedor-principal-right">
                <h1> AMENTI </h1>
                <!-- SLIDESHOW -->
                <div class="slideshow-container">
                    <div class="mySlides">
                        <img src="../../assets/imagenes/Producto-Amenti-1.png" alt="Producto1" style="width: 60%;">
                    </div>
                    <div class="mySlides">
                        <img src="../../assets/imagenes/Producto-Amenti-2.png" alt="Producto1" style="width: 60%;">
                    </div>
                    <div class="mySlides">
                        <img src="../../assets/imagenes/Producto-Amenti-3.png" alt="Producto1" style="width: 60%;">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)"> &#10094; </a>
                    <a class="next" onclick="plusSlides(1)"> &#10095; </a>
                </div>
                <h2>Lorem ipsum dolor sit amet consectetur.</h2>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam.</p>
                <br>
                <a href="mujeres.html"><button class="button1">Ir Ahora</button></a>
            </div>
            <div class="contenedor-principal-margin-right"></div>
        </div>
        <!-- AQUÍ VA LA SECCIÓN PRODUCTOS -->
        <div class="productos">
            <div class="productos-titulo">
                <img src="../../assets/imagenes/titulo-lomas.png" alt="Titulo">
            </div>
            <div class="productos-columnas">
                <div class="productos-columnas-margin-left"></div>
                <div class="productos-columna">
                    <div class="card">
                        <img src="../../assets/imagenes/Amenti-Productos1.png" alt="Pulseras" style="width:100%">
                        <div class="container">
                            <br>
                            <h1>Lorem ipsum dolor sit amet.</h1>
                            <br>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, veritatis!</p>
                            <br>
                            <button class="button2">Agregar a Carrito</button>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="productos-columna">
                    <div class="card">
                        <img src="../../assets/imagenes/Amenti-Productos2.png" alt="Pulseras" style="width:100%">
                        <div class="container">
                            <br>
                            <h1>Lorem ipsum dolor sit amet.</h1>
                            <br>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, veritatis!</p>
                            <br>
                            <button class="button2">Agregar a Carrito</button>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="productos-columna">
                    <div class="card">
                        <img src="../../assets/imagenes/Amenti-Productos3.png" alt="Pulseras" style="width:100%">
                        <div class="container">
                            <br>
                            <h1>Lorem ipsum dolor sit amet.</h1>
                            <br>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, veritatis!</p>
                            <br>
                            <button class="button2">Agregar a Carrito</button>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="productos-columnas-margin-right"></div>
            </div>
            <div class="productos-bottom"></div>
        </div>
        <!-- AQUÍ VA LA SECCIÓN DE HOMBRES -->
        <div class="contenedor-hombres">
            <div class="contenedor-hombres-margin-left"></div>
            <div class="contenedor-hombres-left">
                <img src="../../assets/imagenes/Amenti-logo-hombres.png" alt="LogoHombres">
                <br>
                <br>
                <br>
                <!-- SLIDESHOW -->
                <div class="slideshow-container2">
                    <div class="mySlides2">
                        <img src="../../assets/imagenes/Producto-Amenti-hombres.png" alt="producto3" style="width: 60%;">
                    </div>
                    <div class="mySlides2">
                        <img src="../../assets/imagenes/Producto-Amenti-hombres2.png" alt="Producto1" style="width: 60%;">
                    </div>
                    <div class="mySlides2">
                        <img src="../../assets/imagenes/Producto-Amenti-hombres3.png" alt="Producto1" style="width: 60%;">
                    </div>
                    <a class="prev2" onclick="plusSlides2(-1)"> &#10094; </a>
                    <a class="next2" onclick="plusSlides2(1)"> &#10095; </a>
                </div>
                <!-- <img src="imagenes/Producto-Amenti-hombres.png" alt="Producto2"> -->
                <br>
                <br>
                <br>
                <h2>
                    Lorem ipsum dolor sit amet consectetur.
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam.
                </p>
                <br>
                <button class="button3">Ir Ahora</button>
            </div>
            <div class="contenedor-hombres-right"></div>
            <div class="contenedor-hombres-margin-right"></div>
        </div>
        <!-- AQUÍ VA LA SECCIÓN DE INFORMACIÓN -->
        <div class="contenedor-info">
            <div class="contenedor-info-margin-left"></div>
            <div class="contenedor-info-left">
                <img src="../../assets/imagenes/Amenti-modelo-1.png" alt="modelo">
            </div>
            <div class="contenedor-info-center">
                <h1> EMPRESA 100% MEXICANA</h1>
                <img src="../../assets/imagenes/linea-texto.png" alt="">
                <br>
                <br>
                <br>
                <p>  &emsp; &emsp; &emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ratione distinctio! Quis numquam quas
                    corrupti autem aspernatur dolores nulla fuga, consequatur aut consequuntur ad quia sequi eius voluptate,
                    vel similique quibusdam obcaecati.</p>
                <br>
                <p>  &emsp; &emsp; &emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure deleniti, mollitia consectetur a
                    asperiores consequuntur animi exercitationem inventore tempora corporis quas eveniet nulla aperiam
                    maxime blanditiis dolor sequi sapiente facere impedit. Consectetur!</p>
                <br>
                <p>  &emsp; &emsp; &emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure deleniti, mollitia consectetur a
                    asperiores consequuntur animi exercitationem inventore tempora corporis quas eveniet nulla aperiam
                    maxime blanditiis dolor sequi sapiente facere impedit. Consectetur!</p>
            </div>
            <div class="contenedor-info-right">
                <img src="../../assets/imagenes/Amenti-modelo-2.png" alt="modelo-hombre">
            </div>
            <div class="contenedor-info-margin-right"></div>
        </div>
        <!-- AQUÍ COMIENZA JAVASCRIPT -->
        <script>
            var slideIndex = 1;
            showSlides(slideIndex);
            function plusSlides(n) {
                showSlides(slideIndex += n);
            }
            function currentSlide(n) {
                showSlides(slideIndex = n);
            }
            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex - 1].style.display = "block";
            }
            var slideIndex2 = 1;
            showSlides2(slideIndex2);
            function plusSlides2(n) {
                showSlides2(slideIndex2 += n);
            }
            function currentSlide2(n) {
                showSlides2(slideIndex2 = n);
            }
            function showSlides2(n) {
                var i;
                var slides2 = document.getElementsByClassName("mySlides2");
                if (n > slides2.length) { slideIndex2 = 1 }
                if (n < 1) { slideIndex2 = slides2.length }
                for (i = 0; i < slides2.length; i++) {
                    slides2[i].style.display = "none";
                }
                slides2[slideIndex2 - 1].style.display = "block";
            }
            function openForm() {
            document.getElementById("myForm").style.display = "block";
            }
            
            function closeForm() {
            document.getElementById("myForm").style.display = "none";
            }
            
        </script>
    </body>

</html>